<h2><%= @event.name %>:List</h2>




<ul id="attendees-list">
  <% @attendees.each do |a| %>

    <div id="attendees-list">
      <%= render :partial => "attendee", :locals => { :a => a} %>
    </div>

  <% end %>
</ul>


<%= link_to "New attendee", new_event_attendee_path(@event), :class=>"btn"%>
