<p>Cart: <%= @cart.total %></p>

<p>
Amount:
$<%= @cart.amount %>
</p>



<ul>
  <% @cart.line_items.each do |line| %>
    <li>
      <%= line.product.name  %>
      <%= link_to "å–æ¶ˆ", cancel_product_path(line.product), :method => :post %>
    </li>
  <% end %>
</ul>
